{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ project.name }}</h1>
			<p>{{ project.description }}</p>
			<p>Programming languages required: {{ project.langs }}</p>
			<p>Years of experience required: {{ project.yearsXP }}</p>
			<p>Specialties associated with this project: {{ project.specialty }}</p>
			{% if user.is_engineer == True %}
			<a href="/project/update"><input type="update" value="Edit Project" class="btn btn-primary"></a>
			<a href="/project/delete?name={{ project.name }}" class="btn btn-default" style="float:right; background:red;">Delete This Project</a> 
			{% endif %}
		</div>
	</div>

{% endblock %}
