{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="jumbotron">
			<h3 style="margin: 0px; padding: 0px;">Create Project</h3>
		</div>
		<div class="panel panel-default">
			<form method="post" action="/project/formsuccess" class="panel-body validate">
				{% csrf_token %}
				<label for="name">Name</label>
				<h6 style="color:red">{{ error }}</h6>
				<input type="text" name="name" id="name" placeholder="Project Name" class="form-control" data-bvalidator="required" data-bvalidator-msg="Name Required">
				<br>
				<label for="description">Project Description</label>
				<input type="text" name="description" id="description" placeholder="Description" class="form-control" data-bvalidator="required" data-bvalidator-msg="Description Required">
				<br>
				<div id="summernote">Type something...</div>
				<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script> 
				<script>
					$(document).ready(function() {
			  			$('#summernote').summernote();
					});
				</script>
				<label for="langs">Programming Languages</label>
				<input type="text" name="langs" id="langs" placeholder="Enter a language (or two)" class="form-control" data-bvalidator="required" data-bvalidator-msg="At least 1 programming language is required">
				<br>
				<label for="yearsXP">Years of Experience Required</label>
				<input type="text" name="yearsXP" id="yearsXP" placeholder="Enter a year (or two)" class="form-control" data-bvalidator="required" data-bvalidator-msg="At least 1 year of experience is required">
				<br>
				<label for="specialty">Speciality (for example: Windows, Mac, iOS, Android, Web, Computer Vision, AI)</label>
				<input type="text" name="specialty" id="specialty" placeholder="Enter a speciality (or two)" class="form-control" data-bvalidator="required" data-bvalidator-msg="At least 1 speciality is required">
				<br>
				<input type="submit" value="Submit" class="btn btn-primary">
			</form>
		</div>
	</div>
	
{% endblock %}
