{% extends "body.html" %}

{% block head_title %}{{ page_name }} | {% endblock %}

{% block content %}


<div class="container" role="main">
	<div class="panel panel-default">
		<form method="POST" class="panel-body validate"> {% csrf_token %}
			{{ userform.as_p }}
			<input type="submit" class='btn btn-primary' value="{{ button_value }}">
		</form>
		<div id="summernote">Type something...</div>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script> 
		<script>
			$(document).ready(function() {
			  $('#summernote').summernote();
			});
		</script>
	</div>
</div>

{% endblock %}
