{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ group.name }}</h1>
			<p>{{ group.description }}</p>
			{% if user.is_admin %}
					<a href="/group/delete?name={{ group.name }}" class="btn btn-default" style="float: right; background:red;" >Delete this Group</a>
					{% endif %}
			{% if user.is_student %}
				{% if userIsMember %}
				<a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
					<a href="/group/delete?name={{ group.name }}" class="btn btn-default" style="float: right; background:red;" >Delete this Group</a>
				<a href="/group/recommendations?name={{ group.name }}" class="btn btn-default">View Recommended Projects</a>	
				<form method="post" action="/group/joinUser?name={{ group.name }}" class="panel-body validate">
					{% csrf_token %}
					<label for="email">Enroll A Student</label>
					<h6 style="color:red">{{ error }}</h6>
					<input type="text" name="email" id="email" placeholder="Email" class="form-control" data-bvalidator="required" data-bvalidator-msg="Email Required">
					<br>
					<input type="submit" value="Submit" class="btn btn-primary">
				</form>

				{% else %}
				<a href="/group/join?name={{ group.name }}" class="btn btn-default">Join this Group</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
	
	<div class="container">
	<h1>User List</h1>
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Users</th>
						<th>Email</th>
						<th>Years of Experience</th>
						<th>Programming Languages</th>
						<th>Specialties</th>
					</tr>
				</thead>
				<tbody>
					{% for item in group.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
						<td>{{ item.email }}</td>
						<td>{{ item.student.get_yearsXP }}</td>
						<td>{{ item.student.get_languages }}</td>
						<td>{{ item.student.get_specialties }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
	<h1>Comments</h1>
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th style="width: 20%">User</th>
						<th style="width: 20%">Time</th>
						<th style="width: 80%">Comment</th>
						<th style="width: 10%"></th>
					</tr>
				</thead>
				<tbody>
					{% for item in group.comments.all %}
					<tr>
						<td>{{ item.user.get_full_name }}</td>
						<td>{{ item.time }}</td>
						<td>{{ item.comment }}</td>
						<td>
						{% if item.user.email == user.email %}
							<a href="/group/deletecomment?idnum={{ item.idnum }}&name={{ group.name }}">Delete</a>
						{% endif %}
						<td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div id="summernote">Type something...</div>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script> 
		<script>
			$(document).ready(function() {
			  $('#summernote').summernote();
			});
		</script>
	</div>
	<div>
	<p>
	</div>
	<div class="container" role="main">
	<div class="panel panel-default">
		
		<form method="post" enctype="multipart/form-data" action="/group/groupaddcomment?name={{ group.name }}" class="panel-body validate">
		{% csrf_token %}
			<label for="comment">Comment</label>
			<input type="text" name="comment" id="comment" placeholder="Comment" class="form-control" data-bvalidator="required" data-bvalidator-msg="Comment Required">
			<br>
			<input type="submit" value="Submit" class="btn btn-primary">
		</form>
	</div>
</div>

{% endblock %}
